body {
  text-align: center;
  background-image: url(images/bg.png);
  background-position: 50%;
  background-size: 100%;
}
.credits
{
  color: #00e1ff;
  font-size: 2rem;
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 1px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-image: url(images/tom4.png);
}

.green {
  
  background-image: url(images/snare.png);
}

.blue {
  background-image: url(images/crash.png);
}

.yellow {
  background-image: url(images/kick.png);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
